@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,
            #0a0a0a, #44474a);
}

.subcon {
    height: 45vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {

    height: 75vh;
    width: 30vw;
    border: 2px solid rgb(106, 99, 99);
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 15);

}

input {
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: none;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 15);
    ;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
    border-radius: 32px;
}

input::placeholder {
    color: aliceblue;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(225, 255, 255, 0.1);
    cursor: pointer;
}

.eqbtn {
    background-color: orangered;
}

.oper {
    color: rgb(16, 211, 35);
}